@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: rgb(255, 242, 251);
  text-align: center;
  color: rgb(90, 90, 215);
  margin: auto;
  font-family: Pixelify Sans;
}

h1{
  font-size: 60px;
}

#myCanvas {
  background-image: url("https://i.pinimg.com/originals/a8/30/02/a83002da3a3bdceac3f3226a4f1d1bdf.gif");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid white;
}

h2{
  margin: 30px;
}



